SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_USER_ID=

FANTANO_CHANNEL_URL=https://www.youtube.com/theneedledrop
PLAYLIST_NAME=Fantano FAV TRACKS (All Time)
PLAYLIST_DESCRIPTION=Every track Anthony Fantano has ever listed as a FAV TRACK in his album reviews. Auto-built.
